.container {
  display: flex;
  flex-direction: column;
  @media (min-width: 700px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.searcher {
  font-size: 20px;
}

.title {
  text-align: left;
  margin-bottom: 10px;
}