@import "../../utils/scss/variables.scss";

.post {
  padding: 10px 20px;
  margin-bottom: 20px;
  border-top: 1px solid $mainColor;
  &__tags {
    display: block;
    padding: 10px 0;
    color: $mainColor;
    font-style: italic;
  }
  &__title {
    margin-bottom: 15px;
    font-size: 32px;
  }
  &__text {
    margin-bottom: 20px;
  }

  &__author {
    display: block;
    width: fit-content;
    margin-bottom: 50px;
    transition: background-color 0.2s;
    text-decoration: none;
    color: white;
    cursor: pointer;
    & strong {
      padding: 5px;
      border-radius: 5px;
      background-color: #555;
      font-weight: 500;
      &:hover {
        background-color: #666;
      }
    }
  }

  &__tags,
  &__title,
  &__text,
  &__author {
    text-align: left;
  }
}

.button {
  background-color: $mainColor;
  color: $buttonFontColor;
  transition: 0.2s background-color;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: $buttonHover;
    }
  }
}
