@import '../../scss/variables';

.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  padding: 0 10px;
  box-shadow: $navBoxShadow;
  background-color: $navColor;
  z-index: 1;
  & .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    & a {
      font-size: 20px;
      font-weight: 700;
      text-decoration: none;
      color: white;
      @media (min-width: 400px) {
        font-size: 26px;
      }
      @media (min-width: 768px) {
        font-size: 38px;
      }
    }
  }

  & .nav {
    position: fixed;
    top: 0;
    right: -150px;
    bottom: 0;
    width: 150px;
    transition: 0.2s;
    @media (min-width: 360px) {
      right: -200px;
      width: 200px;
    }
    &--active {
      right: 0;
    }
    & ul {
      display: flex;
      flex-direction: column;
      height: 100%;
      background-color: $navColor;
      & li {
        padding: 20px;
        text-align: center;
        & a {
          font-size: 22px;
          text-decoration: none;
          color: white;
          cursor: pointer;
          transition: 0.2s;
          &:hover,
          &:active,
          &.active {
            color: $mainColor;
          }
        }
      }
    }
    &--horizontal {
      position: static;
      width: auto;
      ul {
        flex-direction: row;
      }
    }
  }
}
