@import "../../scss/anims";

.welcome {
  @media (min-width: 900px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    flex-shrink: 0;
    animation: slide-up 0.5s ease;
  }
  &__log-in {
    max-width: 470px;
    margin: 50px auto 0;
    text-align: center;
    animation: slide-up 0.5s ease;
    @media (min-width: 900px) {
      width: 470px;
      margin: 50px 0;
      padding: 20px 15px;
      border-radius: 6px;
      border: 1px solid #6c6c6c;
    }
  }

  &__description {
    @media (min-width: 900px) {
      text-align: left;
    }
    &-logo {
      font-weight: 700;
      font-size: 32px;
      @media (min-width: 360px) {
        font-size: 42px;
      }
      @media (min-width: 700px) {
        font-size: 56px;
      }
    }
    &-text {
      margin: 0 auto;
      max-width: 340px;
      font-size: 18px;
      font-weight: 300;
      @media (min-width: 700px) {
        font-size: 22px;
        max-width: 405px;
      }
    }
  }
}
.link {
  display: block;
  width: 80%;
  margin: 0 auto;
  padding: 6px 15px;
  font-size: 20px;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 4px;
  background-color: transparent;
  user-select: none;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: #fff;
      color: #2a2a2a;
    }
  }
}

.separator {
  overflow: hidden;
  & p {
    position: relative;
    display: inline-block;
    margin: 20px auto;
    &::before,
    &::after {
      position: absolute;
      top: 50%;
      right: 100%;
      content: "";
      margin-right: 15px;
      background-color: white;
      width: 1000px;
      height: 1px;
    }
    &::after {
      left: 100%;
      margin-left: 15px;
    }
  }
}
