@import "../../utils/scss/variables.scss";

.post {
  padding: 10px 20px;
  margin-bottom: 20px;
  border-top: 1px solid $secondColor;
  &__tags {
    display: block;
    padding: 10px 0;
    color: $secondColor;
    font-style: italic;
  }
  &__title {
    margin-bottom: 15px;
    font-size: 32px;
  }
  &__text {
    margin-bottom: 50px;
  }

  &__tags, &__title, &__text {
    text-align: left;
  }

}

.post--gold {
  border-color: $mainColor;
}

.post__tags--gold {
  color: $mainColor;
}

.button {
  background-color: $secondColor;
  color: #00325c
}

.button--gold {
  background-color: $mainColor;
  color: #5e5000
}